* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto Mono", monospace;
  background-image: url(Images/Clock.jpg);
}

.blur-bg {
  background-color: #ffffff00;
  border-radius: 50px;
  position: fixed;
  width: 500px;
  height: 450px;
}

@supports (backdrop-filter: blur(8px)) {
  .blur-bg {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    box-shadow: 3px 3px 10px 0px rgb(20 20 20 / 81%);
  }
}

.clock {
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  border: 16px solid #EDEDED;
  transition: scale .3s ease;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(Images/OMON.JPG);
}

.clock:hover {
  scale: 1.1;
}

.center-nut,
.center-nut2 {
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center-nut {
  height: 17px;
  width: 17px;
  background: #243d5b;
  z-index: 2;
}

.center-nut2 {
  width: 11px;
  height: 11px;
  z-index: 6;
  background: #EDEDED;
  box-shadow: 1px 1px 20px 1px #000000;
}

.indicator div {
  position: absolute;
  width: 4px;
  height: 7px;
  border-radius: 25px;
  background: #303030;
}

.indicator div:nth-child(1) {
  transform: rotate(30deg) translateY(-119px);
}

.indicator div:nth-child(2) {
  transform: rotate(60deg) translateY(-117px);
}

.indicator div:nth-child(3) {
  transform: rotate(90deg) translateY(-114px);
  background: #FF4015;
}

.indicator div:nth-child(4) {
  transform: rotate(120deg) translateY(-114px);
}

.indicator div:nth-child(5) {
  transform: rotate(150deg) translateY(-113px);
}

.indicator div:nth-child(6) {
  transform: rotate(180deg) translateY(-113px);
  background: #FF4015;
}

.indicator div:nth-child(7) {
  transform: rotate(210deg) translateY(-114px);
}

.indicator div:nth-child(8) {
  transform: rotate(240deg) translateY(-116px);
}

.indicator div:nth-child(9) {
  transform: rotate(270deg) translateY(-119px);
  background: #FF4015;
}

.indicator div:nth-child(10) {
  transform: rotate(300deg) translateY(-120px);
}

.indicator div:nth-child(11) {
  transform: rotate(330deg) translateY(-120px);
}

.indicator div:nth-child(12) {
  transform: rotate(360deg) translateY(-119px);
  background: #FF4015;
}

.sec-hand {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 5;
  animation: sec-hand 60s linear infinite;
}

.sec-hand:before {
  content: '';
  height: 125px;
  width: 3px;
  left: -1px;
  top: -25px;
  position: absolute;
  background: #FF4015;
  border-radius: 3px;
}

.sec-hand:after {
  content: '';
  height: 45px;
  width: 7px;
  left: -3px;
  top: -55px;
  position: absolute;
  background: #FF4015;
  border-radius: 3px;
}

.min-hand {
  height: 1px;
  width: 1px;
  z-index: 4;
  position: absolute;
  animation: min-hand 3600s linear infinite;
}

.min-hand:before {
  content: '';
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 70px solid #EDEDED;
  left: -3px;
  top: -95px;
  width: 1px;
  height: 1px;
}

.min-hand:after {
  content: '';
  position: absolute;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 25px solid #EDEDED;
  left: -3px;
  top: -25px;
  width: 3px;
  height: 1px;
}

.hr-hand {
  height: 1px;
  width: 1px;
  z-index: 3;
  position: absolute;
  animation: hr-hand 43200s linear infinite;
}

.hr-hand:before {
  content: '';
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 55px solid #EDEDED;
  left: -3px;
  top: -75px;
  width: 1px;
  height: 1px;
}

.hr-hand:after {
  content: '';
  position: absolute;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 20px solid #EDEDED;
  left: -3px;
  top: -20px;
  width: 3px;
  height: 1px;
}

.cta {
  bottom: 8%;
  border: none;
  background: none;
  position: absolute;
}

.cta span {
  padding-right: 2px;
  letter-spacing: 1px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.cta svg {
  margin-bottom: 5px;
  transition: all 0.3s ease;
  transform: translateX(-8px) rotate(-60deg);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(1);
}

.hover-underline-animation {
  position: relative;
  color: #EDEDED;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EDEDED;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:link {
  font-size: 35px;
  font-weight: 600;
  color: #EDEDED;
  text-align: center;
  text-decoration: none;
  transition: opacity .5s ease;
}

a:visited {
  color: #EDEDED;
}